---
Checks: >
  -*,
  bugprone-*,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -clang-analyzer-deadcode.DeadStores,
  portability-*,
  readability-braces-around-statements
WarningsAsErrors: ''
HeaderFilterRegex: '(src|apps|test)/.*'
FormatStyle: none
...
